* {
    font-family: Verdana;
}

canvas {
    border: 1px solid black;
    background-image: url("../img/background.png");
    background-size: cover;
}

.toggleSound {
    position: absolute;
    
    top: 20px;
    left: 20px;
    
    max-width: 30px;
}

.toggleSound:hover{
    cursor: pointer;
    cursor: hand;
}

#score {
    position: absolute;
    
    top: 10px;
    left: 75px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}